body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

input[type="number"] {
  width: 3.5rem;
}

.inputContainer {
  margin-top: 1rem;
}

.inputContainer label {
  display: block;
}

.checkboxContainer {
  margin-top: 1rem;
}

.additionalDesc {
  color: #777;
  font-size: 0.8rem;
  display: block;
  margin: 3px 0;
}

.printBtn {
  margin-top: 20px;
  padding: 10px 30px;
}

.spacer {
  margin-top: 30px;
}

.settings {
  position: absolute;
  bottom: 2rem;
}
